.student_dash_thumb {
width: 220px;
}
img {
  border-radius: 50%;
}

.student_prof{
  text-align: center;
  margin-top: 30px;
}
.student_prof p {
  font-size: 30px;
}

#profile{
  height: 100%;
  width: 60%;
  /*border-style: solid;*/
   margin: 0 auto;
   display: flex;
  justify-content: space-around;
}
#course{
  width: 150px;
  height: 150px;

}
#show_vids{
  transition: opacity 0.5s;
  opacity: 1;
}
#vids#hide{
  opacity: 0;
  pointer-events:none;
}
.n {
display: none;
}
#part{
   width: 75px;
  height: 75px;
  cursor: pointer;
}


.course-parts{

width: auto;
height: auto;

}
.course{
min-width: auto;
height: auto;
text-align: center;
display: inline-block;
padding: 20px;
}
