
.vimeo_vid {
  height: 315px;
  width:560px;
}

.vimeo-play-button{
  display: none;
  width: 40px;
  height: 40px;

}

.vimeo_vid_course{
  height: 442.5px;
  width:720px;
  margin-top:-4%;
}
.vimeo_vid_course .vimeo-play-button{
  display: block;
  margin-left: 45%;
  margin-top: 25%;
  width: 40px;
  height: 40px;

}

iframe {
  height: 150%;
  width:720px;
  margin-top:35%;

}

